.header ul li a{
    color: #fff;
    font-family: $manrope;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3);
    transition: all .3s ease;
    &:hover{
       @extend %hover-nav-li-header; 
    }

}