.header .logo{
    width: 190px;
    height: 100px;
}
.nav-header{
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
} 
    .header ul li a{
    color: #fff;
    font-family: $manrope;
    box-shadow: 1px 1px 4px rgba(255, 255, 255, 0.3);
    transition: all .3s ease;
    &:hover{
       @extend %hover-nav-li-header; 
    }

}
