// Comienzo index
.main-index{
    height: 85vh;
    font-family: $manrope;
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5),
      ),
      url(../img/fondo2.jpg);
    background-size: cover;
    box-shadow: 3px 3px 19px rgba(0, 0, 0, 1);
    .button-index{
        font-size: 17px;
        border-radius: 10px;
        background-color: $naranja;
        border: 2px solid rgba(0, 0, 0, 0.5);
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        transition: all .3s ease;
        &:hover{
            box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.5);
        }
    }

}
// Fin index
// Comienzo Quienes
.main-quienes{
    font-family: $manrope;
    .texto-quienes{
        .k-rosa{
            color: $rosa-fuerte;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
        .resto-texto-naranja{
            color: $naranja;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
        }
    } 
    .card-body{
        padding: 16px 10px 5px 16px;
    }
    .card-quienes-wan{
        background-color: $rosa-fuerte;
    }
    .card-quienes-lu{
        background-color: $naranja;
    }

}
// 
// Comienzo planes
.planes{
    font-family: $manrope;
    .plan-emprendedores{
        @include planes-estilo($rosa-fuerte);
    }
    .plan-integral{
        @include planes-estilo($amarillo);
    }
    .asesoria-emprendedores{
        @include planes-estilo($violeta);
    }
    .servicios-adicionales{
        @include planes-estilo($color-servicios);
    }
    ul {
        // margin: 0;
        // padding: 0;
        li{
        background-color: #fff;
        padding: 6px;    
        border: .5px solid $naranja ;
        }
    }
}
// Fin Planes
// Comienzo galeria
.galeriacontainer {  display: grid;
    grid-template-columns: repeat(3, 33vh);
    grid-template-rows: repeat(3, 33vw);
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "diseño1 diseño2 diseño3"
      "diseño4 diseño5 diseño6"
      "diseño7 diseño8 diseño9";
  }

.diseño1 {
    grid-area: diseño1;
}
.diseño2 {
    grid-area: diseño2;
}
.diseño3 {
    grid-area: diseño3;
}
.diseño4 {
    grid-area: diseño4;
}
.diseño5 {
    grid-area: diseño5;
}
.diseño6 {
    grid-area: diseño6;
}
.diseño7 {
    grid-area: diseño7;
}
.diseño8 {
    grid-area: diseño8;
}
.diseño9 {
    grid-area: diseño9;
}

  // Fin galeria
// Comienzo Clientes
.clientes-container{
    font-family: $manrope;
    .clientes {
    margin-top: 120px;
    margin-bottom: 80px;
    .cards-clientes{
    
        width: 20rem;
        height: 28rem;
        padding: 10px;
        .img-amadeo {
            height: 14rem;
        }
}
}
}
// Fin clientes
// Comienzo contacto
.form-container{
    margin-top: 80px;
    padding-bottom: 100px;
    .h1-contacto{
        font-family: $manrope;
    }
    form{
        margin-top: 80px;
        border: 3px solid $rosa-fuerte;
        font-family: $manrope;
        padding: 13px;
        color: #000;
        border-radius: 1%;
    }
    & .btn{
        background-color: $rosa-fuerte;
        border: #000 1px solid;
        font-size: 16px;
        margin-top: 15px;
        box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
        transition: all .3s ease;
      
      &:hover{
        color: #fff;
        box-shadow: 2px 2px 12px rgba(255, 255, 255, 0.5);
      }
    }
}

// Fin contacto

@media (max-width: 767px) {
    
    textarea{
        width: 70vw;
    }
}

