// Colores
$naranja: #ff8f1b;
$rosa-fuerte: #ff00d2;
$violeta-fuerte: #8a00ff;
$violeta: #aa53d7;
$amarillo: #e6d405;
$color-servicios: #f5edc6;


// Font-family
$manrope: 'Manrope', sans-serif;
$merriweather: 'Merriweather', serif;

// Para las listas de planes
$background-planes: #aaa;
$border-planes: 1px solid #000;
$padding-planes: 8px;

